.stopwatch {
    display: flex;
    align-items: center;
    column-gap: 3px;
    background-color: white;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
  }
  
  .stopwatch span {
    font-weight: bold;
    display: block;
  }
  
  .stopwatch svg, .help-icon svg {
    font-size: 20px;
  }

  #sound_toggler {
    margin-left: auto;
  }

  #svg_canvas {
    width: 100%;
    height: 600px;
    background-color: beige;
  }

  .neuron {
    fill: #006dfa;
  }

  .neuron:hover{
    r: 3.4;
  }

 .neuron_active, .neuron:active {
    stroke: orange;
    stroke-width: 1;
  }

  marker path {
    fill: #5cceee;
  }

  input {
    width: 45px;
  }

  input[type=range]{
    width: 100px;
  }

  .spiked {
    fill: #fa3924;
  }

#form{
  background-color: lightgrey;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
}

.range {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 5px;
}

.range p{
  margin: 0;
}

#github {
  font-size: 2.5rem;
  color: lightslategray;
}

#svg-container {
  padding-right:0;
  padding-left: 0;
}

#info {
  position: absolute;
  padding: 10px;
  background-color: #ffb77e;
}

#info div {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

#close svg{
  display: block;
  margin-left: auto;
  font-size: 20px;
}

#info p {
  margin: 0;
}

.help-icon div{
  top: 10;
  right: 20;
  display: none;
  position: absolute;
  background-color: aliceblue;
  font-size: medium;
  z-index: 10;
  font-weight: normal;
  height: fit-content;
  width: 400px;
  padding: 1rem;
}

.help-icon {
  position: relative;
  width: fit-content;
  margin-left: auto;
}

.active {
  display: block!important;
}

#documentation h3, #documentation h4, #documentation p, #documentation li, #documentation pre {
  margin-left: 3rem;
}

h1 {
  display: flex;
  justify-content: space-between;
}

h1 a{
  font-size: 1.5rem;
  font-weight: normal;
  align-self: center;
}

.col-lg-6 {
  position: relative;
}

#plot-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
}

#plot-container h4 {
  text-align: center;
  display: none;
}


#github:hover {
  color: darkslategray;
}

pre {
  background-color: darkslategrey;
  color: white;
  padding: 5px;
  width: fit-content;
  max-width: 100%;
}

@media screen and (max-width: 991px) {
  #documentation h3, #documentation h4, #documentation p, #documentation li, #documentation pre {
      margin-left: 0;
  }
}


@media screen and (max-width: 600px) {
  h1 a{
      font-size: .75rem!important;
  }
  h1 {
      font-size: 1.2rem!important;
  }
  #github {
      font-size: 1.5rem!important;
  }
}
