{% extends "layout.html" %}
{% block main %}

{% markdown %}

# Dokumentation   <a href="./">Zur&uuml;ck zur Neuronen Simulation</a>  <a href="https://github.com/VerrroS/spiking-neurons" id="github" target="_blank"><span class="iconify" data-icon="akar-icons:github-fill"></span></a>


## Technische Dokumentation

Ich habe mich gegen ein Framework woe Tensorflow entschieden. Die Lösung ist nur in JavaScript, Html und Css implementiert. Zusätzlich habe ich [Plotly.js](https://plotly.com/javascript/) verwendet um die Signale der einzelnen Neuronen grafisch anzuzeigen

## Fachliche Dokumentation

Die Klasse **Neuron** 



## Quellen

- https://github.com/akamaus/Spike
- https://stackoverflow.com/questions/20318822/how-to-create-a-stopwatch-using-javascript

{% endmarkdown %}

{% endblock %}