{% extends "layout.html" %}
{% block main %}

<div id="documentation">

{% markdown %}

# Dokumentation   <a href="./">Zur&uuml;ck zur Neuronen Simulation</a>  <a href="https://github.com/VerrroS/spiking-neurons" id="github" target="_blank"><span class="iconify" data-icon="akar-icons:github-fill"></span></a>


## Technische Dokumentation

Ich habe mich gegen ein Framework wie Tensorflow entschieden. Die Lösung ist nur in JavaScript, Html und Css implementiert. Zusätzlich habe ich [Plotly.js](https://plotly.com/javascript/) verwendet um die Signale der einzelnen Neuronen grafisch anzuzeigen.
Um das Layout zu gestalten habe ich [Bootstrap](https://getbootstrap.com/) und [Iconify](https://iconify.design/) verwendet.

## Fachliche Dokumentation

Die Klasse **Neuron** beinhaltet die wichtigste Logik der Simulation. Ein Neuron wird initalisiert mit einem Rest Potential, einer Spike Threshold, einem leakage Wert und einer Synaptic weight. Diese Werte können vom Benutzer eingestellt werden.
Jedes Neuron hat eine Liste von anderen Neuronen, die mit diesem verbunden sind.


    class Neuron {
        constructor(x, y, neuron_id, leakage, synaptic_weight, spike_threshold){
            this.x = x;
            this.y = y;
            this.id = neuron_id;
            this.outgoing_links = [];
            this.rest = rest;
            this.potential = this.rest;
            this.leakage = parseFloat(leakage);
            this.synaptic_weight = parseFloat(synaptic_weight);
            this.spike_threshold = parseFloat(spike_threshold);
            this.timestep = 1;
            this.circle = document.createElementNS(svgns, "circle");
            this.circle.classList.add("neuron");
            this.circle.classList.add("svg_element");
            this.circle.dataset.id = neuron_id;
            this.circle.setAttribute("cx", x);
            this.circle.setAttribute("cy", y);
            this.circle.setAttribute("r", neuron_radius);
            svg_canvas.appendChild(this.circle);
            this.vs = [];
            this.dt = [];
            this.trace = {
                y: this.vs,
                x: this.dt,
                type: 'scatter',
            }
            this.plotActive = false;
            this.alpha = Math.exp(this.timestep*-1/this.leakage);
        }

Mit der Funktion **resetNeurons()** werden die Neuronen initialisiert und je nach Einstellungen miteinander verknüpft.

    function resetNeurons() {
        dTimer.reset();
        deleteNeurons();
        let number = document.getElementById('neuron_numb').value;
        let leakage = document.getElementById('leakage').value;
        let synaptic_weight =document.getElementById('synaptic_weight').value;
        let spike_threshold = document.getElementById('spike_threshold').value;
        let link_chance = document.getElementById('link_chance').value;
        for (i = 0; i < number; i++) {
            coords = checkoverlap();
            neurons.push(
                new Neuron(
                    coords.x, 
                    coords.y,
                    i,
                    leakage,
                    synaptic_weight,
                    spike_threshold,
                    )
                )
        }
        neurons.forEach(element => {
            linkNeurons(element, link_chance);
        });
        neurons_nodes = document.getElementsByClassName('neuron');
        Array.from(neurons_nodes).forEach(element => {
            element.addEventListener("click", setPlotActive)});
        
        Array.from(neurons_nodes).forEach(element => {
            element.addEventListener("dblclick", spike_neuron)});
    };


Die Methode **update()**, aus der Klasse Neuron, wird jede Sekunde aufgerufen. Sie berechnet die Neuronen Potentiale und setzt die Neuronen auf den neuen Werten.
Liegt das Potentioal über dem Spike Threshold wird ein Spike ausgelöst. Dieser wird dann in die **spike()** Funktion übergeben. Die verlinkten Neuronen 
werden je nach Synaptischem Gewicht auch aktualisiert. Um das Potential über die Zeit anzeigen zu können wird ein Array mit den Potentialen und ein Array mit den Zeiten gespeichert.
Sobald das Neuron angeklickt wird werden diese Werte in einem Plot angezeigt.

    update(dt){
        // calculate new potential
        this.dt.push(dt);
        this.potential = this.potential * this.alpha;
        if (this.potential >= this.spike_threshold) {
            this.spike();
            this.vs.push(this.potential);
            this.potential = this.rest;
        }
        else {
            neurons_nodes[this.id].classList.remove("spiked");
            this.vs.push(this.potential);
        }
        this.displayPlot();
    }

In der **spike()** Methode bekommt das Neuron die Klasse spike und wird dementsprechend in einer anderen Farbe dargestellt. Ist der Sound aktiviert, wird ein Ton abgespielt.
Das synaptische Gewicht wird an die verlinkten Neuronen übergeben. Ein Spike wird entweder durch die upadte Methode oder durch einen Klick auf das Neuron ausgelöst.

    spike(){
        this.potential = 4.0;
        neurons_nodes[this.id].classList.add("spiked");
        if (soundOn){
            neuron_sound.play();
        }
        this.outgoing_links.forEach(element => {
            element.potential += this.synaptic_weight;
        });
    }


<h3 id="leakage">
Leaky Integrate-and-Fire Modell
</h3>

Wenn das Neuron keinen Input bekommt nimmt das Potential (V) des Neurons über die Zeit(t) exponentiell ab und nähert sich dem Wert 0. Wie schnell dieses Potential sinkt wird durch den Leakage Wert(tau)
eingestellt. Dieser Abfall wird durch folgende Funktion beschrieben.

![equasion](tau.svg)

Je größer der Leakage Wer ist desto langsamer sinkt das Potential. Der Wert gibt an nach Welcher Zeit sich das Potential um den Faktor 1/e reduziert. In der Methode **update()** wird der Abfall des Potentials mit der Konstanten alpha berechnet.
Die Herleitung dieser Berechnung ist in der stammt aus folgendem [Dokument](https://colab.research.google.com/github/neural-reckoning/cosyne-tutorial-2022/blob/main/1-lif.ipynb#scrollTo=febd51da).


## Quellen

- [https://github.com/akamaus/Spike](https://github.com/akamaus/Spike){:target="_blank"}
- [JavaScript Stopwatch](https://stackoverflow.com/questions/20318822/how-to-create-a-stopwatch-using-javascript){:target="_blank"}
- [Cosyne Tutorial 2022 - Spiking Neural Networks](https://neural-reckoning.github.io/cosyne-tutorial-2022/){:target="_blank"}
- [The Leaky Integrate-and-Fire (LIF) neuron](https://colab.research.google.com/github/neural-reckoning/cosyne-tutorial-2022/blob/main/1-lif.ipynb){:target="_blank"}

{% endmarkdown %}

</div>

{% endblock %}