{% extends "layout.html" %}
{% block main %}

<h1>Spiking Neurons Visualization   <a href="/documentation.html">Dokumentation</a> </h1>

<div class="row">
  <form class=" " id="form">
      <label for="neuron_numb">Anzahl der Neuronen:</label>
      <input type="range" min="2" max="100" value="10" id="neuron_numb" name="neuron_numb">
      <label for="tau">Tau:</label>
      <input type="number" id="tau" name="tau" value="1.0">
      <label for="spike_threshold">Spike Threshold:</label>
      <input type="number" id="spike_threshold" name="spike_threshold" value="2.0">
      <label for="synaptic_weight">Synaptic_weight:</label>
      <input type="number" id="synaptic_weight" name="synaptic_weight" value="0.9">
      <label for="rest">Rest Potential</label>
      <input type="number" id="rest" name="rest" value="1.7">
      <label for="link_chance">Wahrscheinlichkeit der Verlinkung:</label>
      <input type="range" min="1" max="100" value="30" id="link_chance" name="link_chance">
    </form>
  <div class="col-lg-6">
    <div class="stopwatch" id="d-timer"></div>
    <svg id="svg_canvas" viewBox="0 0 150 150" version="1.1"
    xmlns="http://www.w3.org/2000/svg">
    <defs>
      <marker id="arrow"
      viewBox="0 0 10 10" refX="18" refY="5" orient="auto">
         <path d="M 0 0 L 10 5 L 0 10 z" />
      </marker>
    </defs>
  </svg>
</div>
  <div class="col-lg-6">
    <div id="plot"></div>
  </div>
</div>


<div class="help-icon" data-key="classifier-helper">
  <span class="iconify" data-icon="bx:help-circle"></span>
  <div id="classifier-helper">
    Hier sehen Sie das Ergebnis der Bildklassifikation mit dem TensorFlow Deep Learning Modell 
    <a href="https://github.com/tensorflow/tfjs-models/tree/master/mobilenet">TensorFlow.js MobileNetV2</a>.
    Das Modell trifft Vorhersagen darüber, was auf dem Bild zu sehen ist. Diese Vorhersagen wurden aus einem 
    Datensatz von 50k Bildern vom Modell erlernt. Es werden die drei Erebnise mit den höchsten Konfidenzwerten angezeigt.
    <a href="https://learn.ml5js.org/#/reference/image-classifier?id=model-and-data-provenance">Mehr Infos</a>
  </div>
</div>

<section class="mt-4">
  {% markdown %}

  ## Experimente und Fragestellungen

  **Experimente mit unterschiedlich dichter und starker (Synapsen) Vernetzung**

  **Welchen Einfluss hat die initiale Anregung des Netzes auf den Endzustand.**

  **Welche anderen Dynamiken außer der Sättigung und dem Versiegen von Aktivität ist prinzipiell möglich? Gelingt es Ihnen Eine solche Dynamik zu erzeugen?**



  {% endmarkdown %}
</section>

{% endblock %}